@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto.ttf');
}
@font-face {
    font-family: 'MonsterratRegular';
    src: url('../fonts/Montserrat\ Regular.ttf');
}
@font-face {
    font-family: 'MonsterratBold';
    src: url('../fonts/MotserratBold.ttf');
}
body {
    max-width: 1440px;
    max-height: 3400px;
    margin: 0px auto;
    align-items: center;
    justify-content: center;
}

.header {
    width: 100%;
    height: 700px;
    background: url("../img/header.png") no-repeat;
    background-color:rgba(0,0,0,.7);
}

.header__uppertext {
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    font-family: 'MonsterratBold';
}

.header__uppertext-text {
    text-transform: uppercase;
    margin-top: 25px;
    font-size: 20px;
    color: #fff;
    margin-left: 23px;
    letter-spacing: 1px;
}

.header__uppertext-buttons {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    margin-left: 177px;
    margin-right: 25px;
}

.header__uppertext-buttons-login {
    font-family: 'MonsterratBold';
    color: #fff;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    margin-right: 13px;
    margin-top: 2px;
}

.header__uppertext-buttons-signup {
    font-family: 'MonsterratBold';
    color:#fff;
    border-color: #fff;
    border-style: solid;
    background: none;
    cursor: pointer;
    border-radius: 50px;
    width: 91px;
    height: 36px;
    margin-top: 18px;
    margin-right: 1px;
}

.header__headliner {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header__headliner-toptext {
    font-family: 'MonsterratBold';
    font-size: 50px;
    padding-top: 75px;
    padding-right: 2px;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 1px;
}

.header__headliner-bottomtext {
    font-family: 'Roboto';
    font-weight: lighter;
    font-size: 24px;
    color: #fff;
    margin-top: -45px;
}

.header__headliner-button-wrapper {
    padding-top: 10px;
}

.header__headliner-button {
    font-family: 'MonsterratBold';
    color:#fff;
    border-color: #ff4e50;
    border-style: solid;
    background-color: #ff4e50;
    cursor: pointer;
    border-radius: 50px;
    width: 225px;
    height: 40px;
    font-size: 14px;
    padding-bottom: 3px;
}

.topictext {
    text-align: center;
    font-family: 'MonsterratBold';
    color: #333333;
    font-size: 22px;
    padding-top: 9px;
    margin-right: 25px;
}

.stepsblock {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.stepsblock__cardswrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 14px;
}

.stepsblock__item-1 {
    width:300px;
    height:400px;
    margin: 0 10px;
    background: url("../img/step1.jpg") no-repeat;
    position: sticky;
}

.stepsblock__item-2 {
    width:300px;
    height:400px;
    margin: 0 10px;
    background: url("../img/step2.jpg") no-repeat;
    position: relative;
}

.stepsblock__item-3 {
    width:300px;
    height:400px;
    margin: 0 10px;
    background: url("../img/step3.jpg") no-repeat;
    position: relative;
}

.stepsblock__item-innerwrapper {
    display: flex;
    flex-direction: column;
    padding-left: 8px;
    width: 260px;
    position: absolute;
    bottom: 6px;
}

.stepsblock__item-buttonwrapper {
    padding-left: 3px;
}

.stepsblock__item-button {
    font-size: 10px;
    letter-spacing: 2px;
    padding-left: 14px;
    text-transform: uppercase;
    font-family: 'MonsterratRegular';
    color: #fff;
    border-color: #ff4e50;
    border-style: solid;
    background-color: #ff4e50;
    cursor: pointer;
    border-radius: 50px;
    width: 70px;
    height: 20px;
    padding-left: 8px;
}

.stepsblock__item-text-title {
    font-family: 'MonsterratBold';
    font-size: 24px;
    color: #fff;
    padding-top: 14px;
    padding-bottom: 2px;
}

.stepsblock__item-text {
    font-family: 'Roboto';
    font-weight: lighter;
    font-size: 14px;
    color: #fff;
    padding-top: 10px;
    padding-bottom: 10px;
    word-break: break-word;
}

.partnersblock {
    margin-top: 64px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.parntnersblock__topictext {
    text-align: center;
    font-family: 'MonsterratBold';
    color: #333333;
    font-size: 22px;
    padding-top: 9px;
    margin-right: 3px;
}

.partnersblock__cardswrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 840px;
    padding-top: 11px;
}

.partnersblock__item-1 {
    height: 120px;
    width: 120px;
    border-radius: 50px;
    background: url("../img/partner1.png") no-repeat;
}

.partnersblock__item-1-icon {
    transform: translate(220%, 220%);
    display: flex;
    background-color: #ff4e50;
    border-radius: 50px;
    border: 3px solid white;
    height: 33px;
    width: 33px;
    align-items: center;
    justify-content: center;
}

.partnersblock__item-name {
    font-size: 14px;
    padding-top: 85px;
    padding-left: 5px;
    position: absolute;
    font-family: 'MonsterratBold';
    color: #333333;
}

.partnersblock__item-text {
    font-size: 14px;
    position: absolute;
    font-family: 'Roboto';
    font-weight: lighter;
    color: #8f8f8f;
    padding-top: 116px;
    text-align: center;
    margin-left: -38px;
}

.partnersblock__item-name-2 {
    font-size: 14px;
    padding-top: 85px;
    padding-left: 5px;
    position: absolute;
    font-family: 'MonsterratBold';
    color: #333333;
}

.partnersblock__item-text-2 {
    font-size: 14px;
    position: absolute;
    font-family: 'Roboto';
    font-weight: lighter;
    color: #8f8f8f;
    padding-top: 116px;
    text-align: center;
    margin-left: -46px;
}

.partnersblock__item-name-3 {
    font-size: 14px;
    padding-top: 85px;
    padding-left: 12px;
    position: absolute;
    font-family: 'MonsterratBold';
    color: #333333;
}

.partnersblock__item-text-3 {
    font-size: 14px;
    position: absolute;
    font-family: 'Roboto';
    font-weight: lighter;
    color: #8f8f8f;
    padding-top: 116px;
    text-align: center;
    margin-left: -48px;
}

.partnersblock__item-2 {
    height: 120px;
    width: 120px;
    border-radius: 50px;
    background: url("../img/partner2.png") no-repeat;
}

.partnersblock__item-2-icon {
    transform: translate(220%, 220%);
    display: flex;
    background-color: #1cd7ad;
    border-radius: 50px;
    border: 3px solid white;
    height: 33px;
    width: 33px;
    align-items: center;
    justify-content: center;
}

.partnersblock__item-3 {
    height: 120px;
    width: 120px;
    border-radius: 50px;
    background: url("../img/partner3.png") no-repeat;
}

.partnersblock__item-3-icon {
    transform: translate(220%, 220%);
    display: flex;
    background-color: #ffa507;
    border-radius: 50px;
    border: 3px solid white;
    height: 33px;
    width: 33px;
    align-items: center;
    justify-content: center;
}

.partnersblock__item-4 {
    height: 120px;
    width: 120px;
    border-radius: 50px;
    background: url("../img/partner4.png") no-repeat;
}

.partnersblock__item-4-icon {
    transform: translate(220%, 220%);
    display: flex;
    background-color: #4e73db;
    border-radius: 50px;
    border: 3px solid white;
    height: 33px;
    width: 33px;
    align-items: center;
    justify-content: center;
}

.partnersblock__button {
    font-family: 'MonsterratBold';
    color:#ff4e50;
    border-color: #ff4e50;
    border-style: solid;
    background-color: none;
    cursor: pointer;
    border-radius: 50px;
    height: 40px;
    width: 192px;
    font-size: 14px;
}

.partnersblock__buttonwrapper {
    padding-top: 152px;
}

.activities {
    padding-top: 64px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 940px;
    margin: 0 auto;
}

.activities__topictext {
    text-align: center;
    font-family: 'MonsterratBold';
    color: #333333;
    font-size: 22px;
    padding-top: 9px;
    margin-right: 3px;
}

.activities__cards {
    height: 970px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'MonsterratBold';
    color: #fff;
    padding-top: 14px;
}

.activities__cards-firstrow {
    display: flex;
    justify-content: space-between; 
}

.activities__cards-firstrow-item-1 {
    margin: 0 10px;
    height: 310px;
    width: 300px;
    background: url("../img/activities_cards_firstrow_item1.png") no-repeat;
    text-align: center;
}

.activities__cards-firstrow-item-2 {
    margin: 0 10px;
    height: 310px;
    width: 300px;
    background: url("../img/activities_cards_firstrow_item2.png") no-repeat;
    text-align: center;
}

.activities__cards-firstrow-item-3 {
    margin: 0 10px;
    height: 310px;
    width: 300px;
    background: url("../img/activities_cards_firstrow_item3.png") no-repeat;
    text-align: center;
}

.activities__cards-secondrow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.activities__cards-secondrow-item-1 {
    margin: 0 10px;
    height: 310px;
    width: 300px;
    background: url("../img/activities_cards_secondrow_item1.png") no-repeat;
    text-align: center;
}

.activities__cards-secondrow-item-2 {
    margin: 0 10px;
    height: 310px;
    width: 620px;
    background: url("../img/activities_cards_secondrow_item2.png") no-repeat;
    text-align: center;
}

.activities__cards-thirdrow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.activities__cards-thirdrow-item-1 {
    margin: 0 10px;
    height: 310px;
    width: 620px;
    background: url("../img/activities_cards_thirdrow_item1.png") no-repeat;
    text-align: center;
}

.activities__cards-thirdrow-item-2 {
    margin: 0 10px;
    height: 310px;
    width: 300px;
    background: url("../img/activities_cards_thirdrow_item2.png") no-repeat;
    text-align: center;
    vertical-align: 50px;
}

.activities__cards-innertext {
    text-align: center;
    padding-top: 139px;
    font-size: 22px;
}

.activities__cards-innertext-sports {
    text-align: center;
    padding-top: 126px;
    font-size: 22px;
}

.activities__cards-innertext-2 {
    text-align: center;
    padding-top: 139px;
    font-size: 22px;
    word-break: break-all;
}

.interests {
    padding-top: 61px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.interests__topictext {
    text-align: center;
    font-family: 'MonsterratBold';
    color: #333333;
    font-size: 22px;
    padding-top: 11px;
    margin-right: 3px;
}

.interests__text {
    font-family: 'Roboto';
    font-weight: lighter;
    color: #4e4e4e;
    font-size: 18px;
    margin-top: 12px;
    margin-right: 4px;
}

.interests__form {
    padding-top: 19px;
}

.interests__form-input {
    font-family: 'Roboto';
    font-weight: lighter;
    color: #cccccc;
    border-color: #cccccc;
    width: 220px;
    height:35px;
    padding-left: 15px;
    border-radius: 5px;
    border-style: solid;
    font-size: 14px;
}

.interests__form-button {
    font-family: 'MonsterratBold';
    color:#fff;
    border-color: #ff4e50;
    border-style: solid;
    background-color: #ff4e50;
    cursor: pointer;
    border-radius: 50px;
    width: 160px;
    height: 40px;
    margin-left: 3px;
    font-size: 14px;
    padding-top: 0px;
}

.footer {
    display: flex;
    flex-direction: row;
    margin-top:99px;
    margin-bottom: 20px;
    border-top: 4px solid #ff4e50;
    position: relative;
}

.footer__container {
    margin-left: 253px;
    width: 1036px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 6px;
    position: relative;
}

.footer__container-companytitle {
    text-transform: uppercase;
    font-family: 'MonsterratBold';
    margin-left: -5px;
    padding-top: 11px;
    font-size: 17px;
    color: #ff4e50;
    text-align: center;
}

.footer__container-companyabout {
    display: flex;
    flex-direction: column;
    padding-right: 61px;
    padding-top: 30px;
}

.footer__container-companyabout-itemwrapper {
    display: flex;
    flex-direction: column;
}

.footer__container-companyabout-name {
    font-family: 'MonsterratBold';
    font-size: 14px;
    padding-left: 6px;
    color: #333333;
    padding-top: 0px;
    margin-bottom: 4px;
}

.footer__container-companyabout-item {
    font-family: 'Roboto';
    font-weight: lighter;
    font-size: 14px;
    padding-left: 6px;
    padding-top: 9px;
    color: #8f8f8f;
}

.footer__container-companyabout-item-2 {
    font-family: 'Roboto';
    font-weight: lighter;
    font-size: 14px;
    padding-left: 6px;
    padding-top: 6px;
    color: #8f8f8f;
}

.footer__container-partners {
    font-family: 'MonsterratBold';
    font-size: 14px;
    color: #333333;
    padding-top: 30px;
}

.footer__logo {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 40px;
}

.footer__logo-text {
    padding-bottom: 8px;
    margin-top: -4px;
    padding-left: 30px;
    text-transform: uppercase;
    font-family: 'MonsterratBold';
    font-size: 11px;
    color: #cccccc;
}

@media screen and (max-width: 950px) {
    .partnersblock {
        margin-top: 2px;
    }

    .parntnersblock__topictext {
        word-break: break-word;
        width: 260px;
        margin-left: -2px;
    }

    .partnersblock__cardswrapper {
        padding-top: 0px;
        margin-top: -5px;
        flex-direction: column;
        height: 840px;
        max-width: 320px;
    }

    .partnersblock__item-2 {
        margin-top: 0px;
        margin-bottom: -40px;
        margin-left: -5px;
    }

    .partnersblock__item-3 {
        margin-top: -40px;
        margin-bottom: 0px;
        margin-left: -5px;
    }

    .partnersblock__item-4 {
        margin-top: 0px;
        margin-bottom: 0px;
        margin-left: -5px;
    }
}

@media screen and (max-width: 768px) and (min-width: 321px) {

    body {
        max-width: 768px;
    }

    .header__uppertext-text {
        margin-right: 130px;
    }

    .header {
        background-position: -335px;
    }

    .topictext {
        margin-right: 4px;
    }

    .stepsblock__item-1 {
        margin-right: 10px;
        margin-left: 5px;
        width: 236px;
        padding-right: 0px;
        padding-left: 0px;
        background-position-x: -40px;
        border-radius: 5px;
       
    }

    .stepsblock__item-2 {
        margin-right: 10px;
        margin-left: 10px;
        width: 236px;
        padding-right: 0px;
        padding-left: 0px;
        background-position-x: -40px;
        border-radius: 5px;
    }

    .stepsblock__item-3 {
        margin-right: 10px;
        margin-left: 10px;
        width: 236px;
        padding-right: 0px;
        padding-left: 0px;
        background-position-x: -40px;
        border-radius: 5px;
        
    }

    .stepsblock {
        margin-left: 10px;
    }

    .stepsblock__item-innerwrapper {
        padding-left: 15px;
        padding-bottom: 0px;
        width: 205px;
    }

    .activities {
        max-width: 768px;
    }
    .activities__cards-innertext-2 {
        padding-left: 43px;
        margin-top: -11px;
    }

    .footer__container {
        margin-left: 43px;
        max-width: 454px;
    }

    .footer__container-companytitle {
        margin-top: -2px;
    }

    .footer__container-companyabout {
        margin-right: -53px;
    }
}

@media screen and (max-width: 700px) and (min-width: 320px) {
    .stepsblock__item-innerwrapper {
        word-break: break-all;
        width: 100%;
    }
    .header__uppertext {
        max-width: 320px;
        margin: 0 auto;
    }
    .header__uppertext-buttons {
        margin: 0 10px;
    }
    .header__uppertext-text {
        margin: 0 10px;
    }
}

@media screen and (max-width: 510px) and (min-width: 320px) {
    .partnersblock {
        margin-top: 2px;
    }

    .parntnersblock__topictext {
        word-break: break-word;
        width: 260px;
        margin-left: -2px;
    }

    .partnersblock__cardswrapper {
        padding-top: 0px;
        margin-top: -5px;
        flex-direction: column;
        height: 840px;
    }

    .partnersblock__item-2 {
        margin-top: 0px;
        margin-bottom: -40px;
        margin-left: -5px;
    }

    .partnersblock__item-3 {
        margin-top: -40px;
        margin-bottom: 0px;
        margin-left: -5px;
    }

    .partnersblock__item-4 {
        margin-top: 0px;
        margin-bottom: 0px;
        margin-left: -5px;
    }

    .partnersblock__buttonwrapper {
        padding-top: 108px;
    }

    .partnersblock__button {
        width: 280px;
    }
    .footer {
        margin-top: 40px;
    }

    .footer__container {
        margin-left: 0px;
        width: 320px;
        height: 80px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding-top: 0px;
        margin-top: 0px;
    }

    .footer__container-companytitle {
        margin-left: -2px;
        margin-top: -2px;
        padding-top: 0px;
        font-size: 17px;
        color: #ff4e50;
        text-align: center;
    }
    
    .footer__container-companyabout {
        display: flex;
        flex-direction: column;
        padding-right: 0px;
        padding-top: 0px;
    }

    .footer__container-companyabout-itemwrapper {
        flex-direction: row;
        justify-content: center;
        justify-content: space-between;
        width: 210px
    }
    
    .footer__container-companyabout-name {
        font-family: 'MonsterratBold';
        font-size: 14px;
        padding-left: 0px;
        color: #333333;
        padding-top: 0px;
        margin-bottom: 0px;
        margin-top: -6px;
        margin-left: 70px;
    }
    
    .footer__container-companyabout-item {
        font-family: 'Roboto';
        font-weight: lighter;
        font-size: 14px;
        padding-left: 6px;
        padding-top: 5px;
        color: #8f8f8f;
    }
    
    .footer__container-companyabout-item-2 {
        font-family: 'Roboto';
        font-weight: lighter;
        font-size: 14px;
        padding-left: 0px;
        margin-right: 5px;
        padding-top: -5px;
        color: #8f8f8f;
    }
    
    .footer__container-partners {
        font-family: 'MonsterratBold';
        font-size: 14px;
        color: #333333;
        padding-top: 9px;
    }
    
    .footer__logo {
        display: flex;
        flex-direction: column;
        text-align: center;
        position: absolute;
        bottom: 0;
        padding-right: 106px;
        padding-top: 0px;
        margin-bottom: -91px;
    }

    .footer__logo-text {
        padding-left: 0px;   
    }
}

@media screen and (max-width: 320px) {
    body{
        max-width: 320px;
    }

    .header {
        height: 540px;
        background-position: -405px;
        background-size: cover;
    }

    .header__uppertext {
        justify-content: center;
        flex-direction: column-reverse;
    }

    .header__uppertext-buttons {
        margin-left: 78px;
        margin-top: 12px;
    }

    .header__uppertext-buttons-signup {
        margin-top: 8px;
    }

    .header__uppertext-text {
        margin-left: 80px;
        margin-top: 95px;
    }

    .header__headliner-toptext {
        font-size: 29px;
        padding-top: 0px;
        margin-top: -20px;
        padding-left: 3px;
    }

    .header__headliner-bottomtext {
        padding-top: 10px;
        font-size: 18px;
        width: 230px;
        word-break: break-word;
        text-align: center;
    }

    .header__headliner-button-wrapper {
        margin-top: -15px;
    }

    .header__headliner-button {
        width: 280px;
    }

    .stepsblock {
        margin-top: 3px;
        word-break: keep-all;
    }

    .topictext {
        margin-left: -20px;
        width: 320px;
        word-break: keep-all;
    }
    
    .stepsblock__cardswrapper {
        flex-direction: column;
        justify-content: center;
        justify-content: space-between;
        margin-left: -10px;
        margin-right: 0px;
        padding-right: 0px;
        padding-left: 0px;
        width: 320px;
        height: 740px;
        margin-top: -7px;
    }

    .stepsblock__item-1 {
        height: 240px;
        width: 300px;
        margin-right: 0px;
        margin-left: 0px;
        padding-right: 0px;
        padding-left: 0px;
        position:sticky;
        
        border-radius: 5px;
        background: url("../img/step1mobile.png") no-repeat;
    }
    
    .stepsblock__item-2 {
        height: 240px;
        width: 300px;
        margin-right: 0px;
        margin-left: 0px;
        padding-right: 0px;
        padding-left: 0px;
        position:sticky;
        border-radius: 5px;
        background: url("../img/step2mobile.png") no-repeat;
    }

    .stepsblock__item-3 {
        height: 240px;
        width: 300px;
        margin-right: 0px;
        margin-left: 0px;
        padding-right: 0px;
        padding-left: 0px;
        position:sticky;
        border-radius: 5px;
        background: url("../img/step3mobile.png") no-repeat;
    }

    .stepsblock__item-innerwrapper {
        width: 270px;
        padding-left: 17px;
    }

    .partnersblock {
        margin-top: 2px;
    }

    .parntnersblock__topictext {
        word-break: break-word;
        width: 260px;
        margin-left: -2px;
    }

    .partnersblock__cardswrapper {
        padding-top: 0px;
        margin-top: -5px;
        flex-direction: column;
        height: 840px;
    }

    .partnersblock__item-2 {
        margin-top: 0px;
        margin-bottom: -40px;
        margin-left: -5px;
    }

    .partnersblock__item-3 {
        margin-top: -40px;
        margin-bottom: 0px;
        margin-left: -5px;
    }

    .partnersblock__item-4 {
        margin-top: 0px;
        margin-bottom: 0px;
        margin-left: -5px;
    }

    .partnersblock__buttonwrapper {
        padding-top: 108px;
    }

    .partnersblock__button {
        width: 280px;
    }

    .activities__cards {
        height: 900px;
    }

    .activities__cards-firstrow {
        flex-direction: column;
        height: 380px;
    }

    .activities__cards-firstrow-item-1 {
        height: 120px;
        width: 300px;
        background: url("../img/mobile/Activities1.png") no-repeat;
        text-align: center;
    }

    .activities__cards-firstrow-item-2 {
        height: 120px;
        width: 300px;
        background: url("../img/mobile/Activities2.png") no-repeat;
        text-align: center;
    }

    .activities__cards-firstrow-item-3 {
        height: 120px;
        width: 300px;
        background: url("../img/mobile/Activities3.png") no-repeat;
        text-align: center;
    }

    .activities__cards-secondrow {
        flex-direction: column;
        height: 250px;
    }

    .activities__cards-secondrow-item-1 {
        height: 120px;
        width: 300px;
        background: url("../img/mobile/Activities4.png") no-repeat;
        text-align: center;
    }

    .activities__cards-secondrow-item-2 {
        height: 120px;
        width: 300px;
        background: url("../img/mobile/Activities5.png") no-repeat;
        text-align: center;
    }

    .activities__cards-thirdrow {
        flex-direction: column;
        height: 250px;
    }

    .activities__cards-thirdrow-item-1 {
        height: 120px;
        width: 300px;
        background: url("../img/mobile/Activities6.png") no-repeat;
        text-align: center;
    }

    .activities__cards-thirdrow-item-2 {
        height: 120px;
        width: 300px;
        background: url("../img/mobile/Activities7.png") no-repeat;
        text-align: center;
    }

    .activities__topictext {
        margin-top: -40px;
    }

    .activities__cards {
        padding-left: 10px;
        margin-top: -20px;
    }

    .activities__cards-innertext {
        padding-top: 45px;
    }

    .activities__cards-innertext-sports {
        padding-top: 30px;
    }
    
    .activities__cards-innertext-2 {
        padding-top: 45px;
    }

    .interests {
        padding-top: 0px;
    }

    .interests__form {
        padding-top: 0px;
    }

    .interests__text {
        margin-top: -10px;
    }

    .interests__form-input {
        width: 260px;
        margin-bottom: 8px;
        padding-left: 12px;
    }

    .interests__form-button {
        width: 280px;
        margin-left: -5px;
        
    }

    .footer {
        margin-top: 40px;
    }

    .footer__container {
        margin-left: 0px;
        width: 320px;
        height: 80px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding-top: 0px;
        margin-top: 0px;
    }

    .footer__container-companytitle {
        margin-left: -2px;
        margin-top: -2px;
        padding-top: 0px;
        font-size: 17px;
        color: #ff4e50;
        text-align: center;
    }
    
    .footer__container-companyabout {
        display: flex;
        flex-direction: column;
        padding-right: 0px;
        padding-top: 0px;
    }

    .footer__container-companyabout-itemwrapper {
        flex-direction: row;
        justify-content: center;
        justify-content: space-between;
        width: 210px
    }
    
    .footer__container-companyabout-name {
        font-family: 'MonsterratBold';
        font-size: 14px;
        padding-left: 0px;
        color: #333333;
        padding-top: 0px;
        margin-bottom: 0px;
        margin-top: -6px;
        margin-left: 70px;
    }
    
    .footer__container-companyabout-item {
        font-family: 'Roboto';
        font-weight: lighter;
        font-size: 14px;
        padding-left: 6px;
        padding-top: 5px;
        color: #8f8f8f;
    }
    
    .footer__container-companyabout-item-2 {
        font-family: 'Roboto';
        font-weight: lighter;
        font-size: 14px;
        padding-left: 0px;
        margin-right: 5px;
        padding-top: -5px;
        color: #8f8f8f;
    }
    
    .footer__container-partners {
        font-family: 'MonsterratBold';
        font-size: 14px;
        color: #333333;
        padding-top: 9px;
    }
    
    .footer__logo {
        display: flex;
        flex-direction: column;
        text-align: center;
        position: relative;
        margin: 0 auto;
        padding-right: 0px
    }

    .footer__logo-text {
        padding-left: 0px;   
    }
}